<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minima,
      ipsam culpa dolores incidunt explicabo quo assumenda maiores voluptatum,
      beatae, eligendi natus excepturi neque perspiciatis nam qui? Consequatur
      porro, iste voluptas, fuga blanditiis est quam sapiente, vel ducimus
      nesciunt vero.</p>
  </div>
</div>