<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <div class="jumbotron mt-1">
      <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Placeat, rerum molestiae non ipsam deleniti asperiores!</p>
      <hr class="my-4" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        obcaecati quam illo odit. Cum saepe incidunt, quod delectus autem maxime
        nulla odit animi quis rerum consequuntur pariatur iure, vitae dolores?</p>
      <a href="https://github.com/cglv11" class="btn btn-primary btn-lg">Camilo
        Web</a>
    </div>
  </div>
</div>